
@{
    ViewBag.Title = "AboutUS";
    Layout = "~/Views/Shared/MainView.cshtml";
}

<div style="position:relative;padding:3rem;">


    <div class="d-flex p-3 col-10" style="background-color: lavender; align-items: baseline; ">
        <div class="col-6" style=" text-align: start;"><img src="https://d1mm9h6qsl0np.cloudfront.net/images/aboutUsBikes2023.webp" style="width:25rem;height:auto" /></div>
        <div class="col=6" style=" width: 25rem; text-align: justify;">
            <p style="font-size:24px;font-family:'Segoe UI Emoji';font-weight:bold;">
                India moves on 2-wheelers
            </p>
            <p class="text-muted">
                24 crore two-wheelers on the roads compared with 3.5 crore cars. In a population of 140 crores, millions don’t have access to the benefits of personal mobility. VehicleHub is building a buyer-focused brand of used Vehicles . We are taking a digital-first approach to provide the trust, convenience, and value-for-money that buyers seek in this high consideration & involvement category.
                Ultimately, we are challenging the need to buy a new 2-wheeler or 2-wheeler when a VehicleHub bike is available!
            </p>
        </div>
    </div>
    <div class="d-flex" style="background-color: aquamarine; justify-content: space-evenly; align-items: flex-start; padding: 2rem; margin: 1rem; ">

        <div class="col=6" style=" width: 25rem; text-align: justify;">
            <p style="font-size:24px;font-family:'Segoe UI Emoji';font-weight:bold;">
                Our Mission
            </p>
            <p class="text-muted">
                VehicleHub is on a mission to bring affordable personal mobility to millions. Given adequate trust, convenience, and value-for-money - practically everyone would choose a used Vehicle over a new one. At VehicleHub, we are using technology to solve this. We hope that customer love will make VehicleHub bikes a household name one day!
            </p>
        </div>
        <div class="col-4" style=" text-align: end;"><img src="https://www.beepkart.com/images/our_misson_desktop.webp" style="width:25rem;height:auto" /></div>
    </div>
    <div class="" style="background-color: lightcyan; text-align: center;margin:1rem;">
        <div class="col=10" style=" text-align: center; padding: 2rem; margin: 2rem;">
            <p style="font-size:24px;font-family:'Segoe UI Emoji';font-weight:bold;">
                Meet the Team
            </p>
            <p class="text-muted">
                Behind Vehicle Hub is a team of dedicated automotive enthusiasts who share a common goal – to revolutionize the way people engage with the world of vehicles. Our team brings together expertise in technology, automotive trends, and customer service to create a platform that meets the evolving needs of our users.
            </p>
            </div>
        <div>
            <img src="https://slidechef.net/wp-content/uploads/2022/10/Meet-The-Team-Template.jpg" />
        </div>
        </div>
        
        <div class="d-flex" style="background-color: floralwhite; justify-content: space-evenly; align-items: flex-start; padding: 2rem; margin: 1rem; ">
            <div class="col=12" style=" text-align: justify;">
                <p style="font-size:24px;font-family:'Segoe UI Emoji';font-weight:bold;">
                    Contact Us
                </p>
                <p class="text-muted">
                    Have a question or suggestion? We'd love to hear from you! Reach out to us at contact@vehiclehub.com or +919876543210.
                </p>
            </div>
        </div>
        <p style="text-align: center; font-size: 18px; font-style: italic; font-family: emoji; font-weight: bolder;">Join us at Vehicle Hub and embark on a journey where finding your dream vehicle is just a click away!</p>
    </div>

