
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Vehicle Hub Admin</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="col justify-content-center p-0">

        <div>
            <nav class="navbar navbar-expand-lg navbar navbar-light" style="background-color: #404444 ">
                <a class="navbar-brand text-light" href="#">Vehicle Hub Admin</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarText">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <img src="https://th.bing.com/th/id/R.2304125dc9f12942ea152e7616634c2b?rik=9LS9NSSadpjOvQ&riu=http%3a%2f%2fwww.clipartbest.com%2fcliparts%2fdcr%2f65o%2fdcr65oGKi.jpg&ehk=L69OmmgwMtnNxYw1Z0no9NqTDxc%2bmSjSuEBH4xWqqDY%3d&risl=&pid=ImgRaw&r=0" alt="..." class="rounded-circle" style=" height: 2.5rem; width: 2.5rem;">
                        </li>

                    <li class="nav-item">
                        <div class="nav-item text-center d-flex">
                            <a class="nav-link" href="#" style="color: #ffff; font-family: emoji; font-size: 18px;">@Session["UserName"]</a>
                            <a class="nav-link" href="/User/SignOut" style="color: #ffff; font-family: emoji; font-size: 18px;"> LogOut </a>
                        </div>
                    </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="d-flex">
            <div class="min-vh-100 col-2 p-0">
                <nav class="g-light vh-100 shadow-lg" style="background-color: #F0F8FF ">
                    <img src="https://th.bing.com/th/id/R.2304125dc9f12942ea152e7616634c2b?rik=9LS9NSSadpjOvQ&riu=http%3a%2f%2fwww.clipartbest.com%2fcliparts%2fdcr%2f65o%2fdcr65oGKi.jpg&ehk=L69OmmgwMtnNxYw1Z0no9NqTDxc%2bmSjSuEBH4xWqqDY%3d&risl=&pid=ImgRaw&r=0" alt="..." class="rounded-circle"  style=" height: 2.5rem; width: 2.5rem;">
                    <a class="navbar-brand text-dark" href="#">@Session["UserName"]</a>
                    <hr />
                    <div class=" justify-content-start">
                        <ul class="ml-auto list-unstyled">
                            <li class="nav-item">
                                <a class="nav-link text-muted" style="color:#303030" href="/User/AllVehicleDetails">All Vehicle<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-muted" style="color:#303030" href="/User/AllUserData">User Details</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-muted" style="color:#303030" href="/User/CreateNewVehicle">Add Vehicle Details</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div>
                @RenderBody()
            </div>
        </div>
    </div>

</body>
</html>
