@model VehicleDetails.Models.RequiredModels.ViewModels.BrandCategories




@*<div class="container-fluid" id="gridView" style="display:block">
    <div class="text-xl-center"><div class="m-4 titleStyle">All Vehicles</div></div>
    <div class="container-fluid col-12 g-6 d-flex flex-wrap justify-content-center">*@
        @foreach (var data in Model.vehiclesModel.Take(4))
        {
            <a href="/home/details/@data.VehicleID" class="text-decoration-none justify-content-between" style="color:black">
                <div class="card shadow-lg" style="width: 18rem; margin: 1rem;">
                    <img class="card-img-top" src="@data.ImageUrl" alt="Card image cap" style="height:10rem">
                    <div class="card-body">
                        <h4>@data.VehicleName</h4>
                        <p class="m-0">Price:<span class="text-muted">₹@data.price</span></p>
                        <p class="m-0">Owner:<span class="text-muted">@data.Owner</span></p>
                    </div>
                </div>
            </a>
        }
    @*</div>
    <div class="text-xl-center"><div class="m-5"><a href="/Home/AllVehicles" class="btn btn-light">View More</a></div></div>
</div>*@
