@model List<VehicleDetails.Models.Category>
@using VehicleDetails.Repository;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainView.cshtml";


}




<div class="">
    <div class="row w-100 h-100">

        <div class="col-2 shadow shadow-lg p-0">
            <div class="w3-sidebar w3-light-grey w3-bar-block" style="height: 100vh;">
                <h3 class="w3-bar-item m-3 text-center catHeading">Categories</h3>
                @foreach (var cat in Model)
                {

                    <a href="#" id="viewCheck" onclick="CheckView(@cat.CategoryID)" class="sideMenuStyle"> <div class="col bg bg-gradient catLinks">@cat.CategoryName  </div></a>

                    var idPass = @cat.CategoryID;

                }

            </div>
        </div>
        <div class="col-10">

            <div id="checks">
                <div id="CategoryVehicleData">
                    <div class="card bg-dark text-white">
                        <img class="card-img" src="~/Asserts/Bike.jpg" alt="Card image" style="height:46rem;" >
                        <div class="card-img-overlay">
                            <h5 class="card-title">Vehicles</h5>
                            <p class="card-text">Life is a Journey. Enjoy the Ride</p>
                            @*<p class="card-text">Last updated 3 mins ago</p>*@
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>




<script>
    function CheckView(id) {
        /*debugger;*/
        $(document).ready(() => {

            $.ajax({
                url: `/category/vehicleDetails/${id}`,
                type: 'get',
                dataType: 'html',
                contentText: 'html',
                success: (data, status, xhr) => {
                    console.log(data)
                    $('#CategoryVehicleData').empty();
                    $('#CategoryVehicleData').prepend(data)
                },
                error: (jqXhr, textStatus, errorMessage) => {
                    console.log(textStatus)

                }
            })

        })
    }


</script>



<style>
    .sideMenuStyle {
        font-family: 'Times New Roman';
        font-size: 18px;
        margin: 3px;
        text-align: center;
        color: #303030;
    }

        .sideMenuStyle:hover {
            text-decoration: none;
            color: darkslategrey;
        }

    .catHeading {
        color: #303030;
        font-family: 'Times New Roman';
        background-color: cadetblue;
    }

    .catLinks {
        /*  background-color:lightgrey;*/
        margin-bottom: 10px;
    }

        .catLinks:hover {
            background-color: lightgray;
        }
</style>

