@model List<VehicleDetails.Models.Vehicle>
@{
    ViewBag.Title = "VehicleDetails";
    //Layout = "~/Views/Shared/MainView.cshtml";
}


<div class="container-fluid col-10 g-6 d-flex flex-wrap" id="vehicalData">
    @foreach (var data in Model)
    {

        <a href="/home/details/@data.VehicleID" class="text-decoration-none justify-content-between" style="color:black">
            <div class="card" style="width: 18rem; margin: 1rem;">
                <img class="card-img-top" src="@data.ImageUrl" alt="Card image cap" style="height:10rem">
                <div class="card-body">
                    <h4>@data.VehicleName</h4>
                    <p class="m-0">Price:<span class="text-muted">₹@data.price</span></p>
                    <p class="m-0">Owner:<span class="text-muted">@data.Owner</span></p>
                </div>

            </div>
        </a>

    }
</div>

